extends layout.pug

block content
    section#content
      h2= text
      if hint
        p
          i Hint: #{hint}
      //- a(href="#") #{ side } A
      //- if side == 'question'
      //-   p works
      //-   a(href="#") Answer
      //- else if side == 'answer'
      //-   a(href="#") Question